<ion-view view-title="Grid">

    <ion-header-bar class="bar-positive">
      <h1 class="title">prova Grid</h1>
    </ion-header-bar>
  <ion-content>
    <div class="row">
      <div class="col col-50">col 1</div>
      <div class="col">col 2</div>
      <div class="col">col 3</div>
    </div>
    <br><br>
    <div class="row">
      <div class="col col-top">.col-top</div>
      <div class="col col-center">.col-center</div>
      <div class="col col-bottom">.col-bottom</div>
      <div class="col">
        1<br>2<br>3<br>4<br>
      </div>
    </div>
  </ion-content>
    <ion-footer-bar class="bar-positive">
      <div class="buttons">
        <button class="button">esquerra</button>
      </div>
      <div class="title">footer</div>
      <div class="buttons">
        <button class="button">dreta</button>
      </div>
    </ion-footer-bar>
</ion-view>
